
/*to make maze full screen by removing default margin value*/
body{
    margin: 0   
}

.hidden {
    display: none !important;
}

h1{
    color: white;
    font-size: 64px;
}

.winner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;    /*to make sure it comes on top*/
    height: 100vh; /*to strech to full height of the screen*/
    width: 100vw;  /*to strech to full width of the screen*/
}